
    b {
            color: red;
        }
.center-container {
    margin: 100px  auto;
    width: 50%;
    /* You can adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}